* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/Forest.jpeg);
    background-size: cover;
}

nav {
    width: 100%;
    height: 60px;
    background: rgb(96,128,153);
    background: radial-gradient(circle, rgba(96,128,153,1) 0%, rgba(111,144,161,1) 50%, rgba(80,89,120,1) 100%);
    border-bottom-style: solid
}

nav p {
    font-family: arial;
    color: #222;
    font-size: 24px; 
    line-height: 55px;
    float: left;
    width: 250px; 
    height: 56px;
    padding: 0px 20px;
    text-align: center;
}

nav ul{
    float: left
}

nav ul li{
    float: left;
    list-style: none;  
}

nav ul li a {
    display: block;
    font-family: arial;
    color: #222;
    font-size: 24px; 
    padding-top: 15px; 
    padding-right: 30px;
    padding-left: 60px; 
    padding-bottom: 0px;  
}

div{
    background: rgb(165,184,178);
    background: radial-gradient(circle, rgba(165,184,178,1) 0%, rgba(2,2,2,1) 100%);
    height: 400px;
    width: 800px;
    position: fixed;
    top: 40%;
    left: 40%;
    margin-top: -100px;
    margin-left: -200px;
    border-radius: 75px;;
}

div p {
    text-align: center;
    font-size: 60px;
    margin-top: 15%
}